<h3>Template Prefix</h3>
<p>
  In order to apply a prefix to an input element, supply the value to be displayed to the prefix input on input element.
</p>
<p>The supplied value can be a template reference.</p>
<code>
  &#60;input class="usa-input" [prefix]=prefix [suffix]=suffix&#62;
</code>
<input class="usa-input" [prefix]=prefix [suffix]=suffix>

<ng-template #prefix>
  <img aria-hidden="true" focusable="false" src="assets/image/credit_card.svg">
</ng-template>
<ng-template #suffix>
  <img aria-hidden="true" focusable="false" src="assets/image/close.svg" style="width: 2rem; height: 2rem;">
</ng-template>

<p>The supplied value can also be a string.</p>
<code>
  &#60;input class="usa-input" [prefix]="'$'" [suffix]="'lbs.'"&#62;
</code>

<input class="usa-input" [prefix]="'$'" [suffix]="'lbs.'">
