<code class="display-block margin-bottom-2">[disableStepSelection]="true"</code>
<usa-step-indicator [steps]="stepsDisableSelection" [(currentStep)]="currentStepDisableSelection"
  [disableStepSelection]="true">
  <h2 UsaStepHeader></h2>
</usa-step-indicator>

<ul class="usa-button-group">
  <li class="usa-button-group__item">
    <button class="usa-button usa-button--outline"
      (click)="currentStepDisableSelection = currentStepDisableSelection - 1;"
      [disabled]="currentStepDisableSelection === 0">
      Back
    </button>
  </li>
  <li class="usa-button-group__item">
    <button class="usa-button" (click)="currentStepDisableSelection = currentStepDisableSelection + 1"
      [disabled]="currentStepDisableSelection === stepsDisableSelection.length - 1">
      Next
    </button>
  </li>
</ul>
<i>*Development Note: The Back and Next buttons are NOT part of the step indicator and should be implemented
  separately</i>