<label for="basicInput">Basic Character Count Input</label>
<input type="text" [usaCharacterCount]="25" class="usa-input" aria-label="Character Count Demo Basic Input">

<!--Character counter text will be created here-->

<div class="margin-top-5"></div>

<label for="formControlInput">Character Counter for elements with Form Control</label>
<input type="text" [usaCharacterCount]="25" [formControl]="formControl" class="usa-input"
  aria-label="Character Count Demo Form Control Input">

<!--Character counter text will be created here-->