<div uswds-card>
  <uswds-card-header>
    <h4>Example Card</h4>
  </uswds-card-header>
  <uswds-card-body>
    <span>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
    </span>
  </uswds-card-body>
  <uswds-card-footer>
    Example Footer
  </uswds-card-footer>
</div>

<uswds-card-group class="grid-row">
  <li uswds-card class="grid-col-4">
    <uswds-card-header>
      <h4>Example Card In Group</h4>
    </uswds-card-header>
    <uswds-card-body>
      <span>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
      </span>
    </uswds-card-body>
    <uswds-card-footer>
      Example Footer
    </uswds-card-footer>
  </li>
  <li uswds-card class="grid-col-4">
    <uswds-card-header>
      <h4>Example Card With Media</h4>
    </uswds-card-header>
    <uswds-card-media>
      <img src="https://designsystem.digital.gov/img/introducing-uswds-2-0/built-to-grow--alt.jpg" alt="A placeholder image">
    </uswds-card-media>
    <uswds-card-body>
      <span>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
      </span>
    </uswds-card-body>
    <uswds-card-footer>
      Card with Media Footer
    </uswds-card-footer>
  </li>
  <li uswds-card class="grid-col-4" [headerFirst]="true">
    <uswds-card-header>
      <h4>Example Card With Media</h4>
    </uswds-card-header>
    <uswds-card-media>
      <img src="https://designsystem.digital.gov/img/introducing-uswds-2-0/built-to-grow--alt.jpg" alt="A placeholder image">
    </uswds-card-media>
    <uswds-card-body>
      <span>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat
      </span>
    </uswds-card-body>
    <uswds-card-footer>
      Card with Media Footer
    </uswds-card-footer>
  </li>
</uswds-card-group>
