<h3>Template Prefix</h3>
<p>
  In order to apply a prefix to an input element, supply the value to be displayed to the prefix input on input element.
</p>
<p>The supplied value can be a template reference.</p>
<code>
  &#60;input class="usa-input" [prefix]=prefix&#62;
</code>
<input class="usa-input" [prefix]=prefix>

<ng-template #prefix>
  <img aria-hidden="true" focusable="false" src="assets/image/credit_card.svg">
</ng-template>

<p>The supplied value can also be a string.</p>
<code>
  &#60;input class="usa-input" [prefix]="'$'"&#62;
</code>

<input class="usa-input" [prefix]="'$'">
