<div>
  <button type="button" usaTooltip [position]="'top'" class="usa-button" title="Top" classes="test" >Show on top</button>
  <button type="button" usaTooltip [position]="'left'" class="usa-button" title="Left" classes="test">Show on left</button>
  <button type="button" usaTooltip [position]="'right'" class="usa-button" title="Right" classes="test">Show on right</button>
  <button type="button" usaTooltip [position]="'bottom'" class="usa-button" title="Bottom" classes="test">Show on bottom</button>
</div>
