<div class="margin-bottom-2">
  <span class="display-block"><code>Tab / Shift + Tab</code> - Move focus to previous and next focusable item </span>
  <span class="display-block"><code>Left and Right Arrow </code>- Move focus to previous and next step bar segment in group</span>
  <span class="display-block"><code>Enter </code>- Select Step</span>
  <span class="display-block"><code>Home </code>- Move focus to first focusable step</span>
  <span class="display-block"><code>End </code>- Move focus to last focusable step </span>
</div>

<usa-step-indicator [steps]="stepsDefault" [(currentStep)]="currentStepDefault">
  <h2 UsaStepHeader></h2>
</usa-step-indicator>