<usa-header #header [primaryNavItems]="navigationLinks" (linkEvent)="onLinkClicked($event)" [title]="'Ngx USWDS'">
    <!-- Define extra content in header besides nav link through usaHeaderPrimaryExtra -->
    <usa-search usaHeaderPrimaryExtra [size]="'small'"></usa-search>

    <!-- 
        Define custom template to use for primary links in header. If the href property
        is also included on the link, then an internal pre-defined template will be used
        rather than this template
    -->
    <ng-template usaHeaderPrimaryLinkTemplate let-link>
        <span class="usa-button usa-button--unstyled padding-2">
            {{link.text}}
        </span>
    </ng-template>
</usa-header>
