<h3>General Accessibility</h3>
<p>
  The calendar grid provides hotkeys for changing the year and month as well as support for normal grid navigation keys.
</p>
<p>
  When the month or year of the calendar grid changes as users navigate the calendar or activate the buttons for 
  next or previous month or year, a live region enables screen readers to announce the new month and year.
</p>
<p>
  The cells of the calendar body are navigable by keys while the over all calender buttons can be navigated using tab keys,
  which allows users to quickly navigate to their desired date on the calendar
</p>
<p>
  After user selects a date, the calender automatically closes and focus moves to the text input, allowing screen readers
  to confirm the user's date selection
</p>

<h3>Theming</h3>
<p>
  <em>This component has no variants.</em>
</p>
