<h3>General Accessibility</h3>
<p>
  The calendar grid provides hotkeys for changing the year and month as well as support for normal grid navigation keys.
</p>
<p>
  When the month or year of the calendar grid changes as users navigate the calendar or activate the buttons for 
  next or previous month or year, a live region enables screen readers to announce the new month and year.
</p>
<p>
  The cells of the calendar body are navigable by keys while the over all calender buttons can be navigated using tab keys,
  which allows users to quickly navigate to their desired date on the calendar
</p>
<p>
  After user selects a date, the calender automatically closes and focus moves to the text input, allowing screen readers
  to confirm the user's date selection
</p>

<div class="margin-bottom-2 margin-top-2">
  <p class="text-italic">When Date Picker Calendar is open:</p>
  <span class="display-block"><code>Tab / Shift + Tab</code> - Move focus between calender header buttons and calender body </span>
  <span class="display-block"><code>Up/Down/Left/Right Arrow </code>- Navigate across each cell of calender body when focus is on calender body</span>
  <span class="display-block"><code>Enter / Space </code>- Select a Date</span>
  <span class="display-block"><code>Home / End </code>- Move focus to first/last cell on calender body</span>
  <span class="display-block"><code>End </code>- Move focus to last cell on calendar body </span>
  <span class="display-block"><code>Page Up / Page Down </code>- Go to next month on month view or next set of years on multi year view</span>
  <span class="display-block"><code>Escape </code>- Close the calendar </span>

</div>

<h3>Theming</h3>
<p>
  <em>This component has no variants.</em>
</p>
