Follow these steps to get started with USWDS Formly.

<p>1.Install Formly packages:
</p>
<code>npm install uswds-formly</code> and it is peer-dependent on the @ngx-formly/core package

<!-- <p>Once installed, UsaFormlyModule will be imported in the AppModule:</p>
import FormlyModule from '@ngx-formly/core';
<br />

import &#123; ReactiveFormsModule&#125; from '@angular/forms';<br />
import &#123;FormlyModule from &#125;'@ngx-formly/core';<br />
import &#123; UsaFormlyModule from&#125; 'uswds-formly';<br />
<br />
@NgModule&#123;<br />
imports: [<br />
BrowserModule<br />
ReactiveFormsModule,<br />
FormlyModule.forRoot(),<br />
UsaFormlyModule<br />
],<br />

&#125;<br />
export class AppModule &#123; &#125;<br />
<br />
The forRoot() call is required at the application's root level. The forRoot() method accept a config argument where you
can pass extra config, register a custom field type, wrapper and validation.
<br /><br />
add formly-form inside the form tag to your Component template:
<br />
<br />fields: The field configurations for building the form.
<br /> form: The form instance which allow to track model value and validation status.
<br /> model: The model to be represented by the form. -->
