<uswds-button-group [isSegmented]="true">
  <uswds-button-group-item>
    <button class="usa-button">Map</button>
  </uswds-button-group-item>
  <uswds-button-group-item>
    <button class="usa-button usa-button--outline">Satellite</button>
  </uswds-button-group-item>
  <uswds-button-group-item>
    <button class="usa-button usa-button--outline">Hybrid</button>
  </uswds-button-group-item>
</uswds-button-group>

<div class="margin-2"></div>

<uswds-button-group>
  <uswds-button-group-item>
    <button class="usa-button">Map</button>
  </uswds-button-group-item>
  <uswds-button-group-item>
    <button class="usa-button usa-button--outline">Satellite</button>
  </uswds-button-group-item>
  <uswds-button-group-item>
    <button class="usa-button usa-button--outline">Hybrid</button>
  </uswds-button-group-item>
</uswds-button-group>