/* You can add global styles to this file, and also import other style files */
// @import './material.theme';

$theme-image-path: '~node_modules/uswds/src/img';
$theme-font-path: '~node_modules/uswds/src/fonts';

// @import './theme/styles';
// @import '../../node_modules/@gsa-sam/sam-styles/src/stylesheets/theme/styles';

@import 'uswds';

// @import './components/components.scss';


$theme-image-path: '~node_modules/@gsa-sam/sam-styles/src/img';
$theme-font-path: '~node_modules/@gsa-sam/sam-styles/src/fonts';
// @import '../../node_modules/@gsa-sam/sam-styles/src/stylesheets/sam.scss';

// @import '../../node_modules/@gsa-sam/sam-styles/src/stylesheets/components/pagination';
// @import '../../node_modules/@gsa-sam/sam-styles/src/stylesheets/components/table';

// @import '../../node_modules/@gsa-sam/sam-styles/src/stylesheets/components/accordion';





