$theme-image-path: '~node_modules/uswds/src/img';
$theme-font-path: '~node_modules/uswds/src/fonts';

@import 'node_modules/uswds';

tr.usa-table__row--hovered {
  td {
    background-color: blue;
    cursor: pointer;
  }
}
@import './app.styles.scss';
