<div class="margin-bottom-2">
  <span class="display-block"><code>Tab / Shift + Tab</code> - Move focus to previous and next focusable item </span>
  <span class="display-block"><code>Up and Down Arrow </code>- Move focus to previous and next accordion item in group</span>
  <span class="display-block"><code>Enter / Space </code>- Open / close accordion</span>
  <span class="display-block"><code>Home </code>- Move focus to first focusable accordion item</span>
  <span class="display-block"><code>End </code>- Move focus to last focusable accordion item </span>
</div>

<code class="display-block margin-bottom-2">[singleSelect]="true"</code>

<usa-accordion [singleSelect]="true" [headerLevel]="2" activeIds="usa-accordion-item-0">
  <usa-accordion-item header="Simple Text Header">
    <ng-template UsaAccordionContent>
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry 
      richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor 
      brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, 
      sunt aliqua put a bird on it squid single-origin coffee nulla assumenda 
      shoreditch et.
    </ng-template>
  </usa-accordion-item>

  <usa-accordion-item>
    <ng-template UsaAccordionHeader>
      <b class="text-primary-darker">I am a <i>Template</i> Header</b>
    </ng-template>
    <ng-template UsaAccordionContent>
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry 
      richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor 
      brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, 
      sunt aliqua put a bird on it squid single-origin coffee nulla assumenda 
      shoreditch et.
    </ng-template>
  </usa-accordion-item>

  <usa-accordion-item header="Disabled Header" [disabled]="true">
    <ng-template UsaAccordionContent>
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry 
      richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor 
      brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, 
      sunt aliqua put a bird on it squid single-origin coffee nulla assumenda 
      shoreditch et.
    </ng-template>
  </usa-accordion-item>

</usa-accordion>
