<uswds-alert [alertType]="'SUCCESS'" [role]="'alert'">
  <uswds-alert-header>Success status</uswds-alert-header>
  <uswds-alert-text>
    Lorem ipsum dolor sit amet, <a class="usa-link" href="javascript:void(0);">consectetur adipiscing</a> elit, sed do eiusmod.
  </uswds-alert-text>
</uswds-alert>

<div class="margin-1"></div>

<uswds-alert [alertType]="'ERROR'" [role]="'alert'">
  <uswds-alert-header>Error status</uswds-alert-header>
  <uswds-alert-text>
    Lorem ipsum dolor sit amet, <a class="usa-link" href="javascript:void(0);">consectetur adipiscing</a> elit, sed do eiusmod.
  </uswds-alert-text>
</uswds-alert>

<div class="margin-1"></div>

<uswds-alert [alertType]="'WARNING'" [role]="'alert'">
  <uswds-alert-header>Warning status</uswds-alert-header>
  <uswds-alert-text>
    Lorem ipsum dolor sit amet, <a class="usa-link" href="javascript:void(0);">consectetur adipiscing</a> elit, sed do eiusmod.
  </uswds-alert-text>
</uswds-alert>

<div class="margin-1"></div>

<uswds-alert [alertType]="'INFO'" [role]="'alert'">
  <uswds-alert-header #alertHeader>Informative status</uswds-alert-header>
  <uswds-alert-text>
    Lorem ipsum dolor sit amet, <a class="usa-link" href="javascript:void(0);">consectetur adipiscing</a> elit, sed do eiusmod.
  </uswds-alert-text>
</uswds-alert>