<label for="fileInputSingleId" class="usa-label">Single File Input</label>
<usa-file-input
  [id]="'fileInputSingleId'" 
  [displayFileInfo]="displayFileInfo" 
  (selectedFilesChange)="onFileChange($event)">
</usa-file-input>

<button class="usa-button margin-top-2" (click)="displayFileInfo = !displayFileInfo">Toggle Display Behavior</button>
<p>
  <code class="display-block">[displayFileInfo]="{{displayFileInfo}}"</code>
  <span *ngIf="displayFileInfo; else hidden">File preview and name will be shown</span>
  <ng-template #hidden>
    Input box will remain blank and only input file event will be emitted
  </ng-template>
</p>

