<div uswds-card class="tablet:grid-col-11 mobile-lg:grid-col-12">
  <uswds-card-header>
    <h2 class="usa-card__heading">
      Default Step Indicator
    </h2>
  </uswds-card-header>
  <uswds-card-body>
    <div class="margin-bottom-2">
      <span class="display-block"><code>Tab / Shift + Tab</code> - Move focus to previous and next focusable item </span>
      <span class="display-block"><code>Left and Right Arrow </code>- Move focus to previous and next step bar segment in group</span>
      <span class="display-block"><code>Enter </code>- Select Step</span>
      <span class="display-block"><code>Home </code>- Move focus to first focusable step</span>
      <span class="display-block"><code>End </code>- Move focus to last focusable step </span>
    </div>

    <usa-step-indicator [steps]="stepsDefault" [(currentStep)]="currentStepDefault">
      <h2 UsaStepHeader></h2>
    </usa-step-indicator>
  </uswds-card-body>
</div>


<div uswds-card class="tablet:grid-col-11 mobile-lg:grid-col-12">
  <uswds-card-header>
    <h2 class="usa-card__heading">
      Hide Labels
    </h2>
  </uswds-card-header>
  <uswds-card-body>
    <code class="display-block margin-bottom-2">[hideLabels]="true"</code>

    <usa-step-indicator [steps]="stepsHideLabels" [(currentStep)]="currentStepHideLabel" [hideLabels]="true">
      <h2 UsaStepHeader></h2>
    </usa-step-indicator>
  </uswds-card-body>
</div>

<div uswds-card class="tablet:grid-col-11 mobile-lg:grid-col-12">
  <uswds-card-header>
    <h2 class="usa-card__heading">
      Center Labels
    </h2>
  </uswds-card-header>
  <uswds-card-body>
    <code class="display-block margin-bottom-2">[centerLabels]="true"</code>

    <usa-step-indicator [steps]="stepsCenterLabels" [(currentStep)]="currentStepCenterLabel" [centerLabels]="true">
      <h2 UsaStepHeader></h2>
    </usa-step-indicator>
  </uswds-card-body>
</div>

<div uswds-card class="tablet:grid-col-11 mobile-lg:grid-col-12">
  <uswds-card-header>
    <h2 class="usa-card__heading">
      Display Counters
    </h2>
  </uswds-card-header>
  <uswds-card-body>
    <code class="display-block margin-bottom-2">[displayCounters]="true"</code>
    <usa-step-indicator [steps]="stepsShowCounters" [(currentStep)]="currentStepShowCounters" [displayCounters]="true">
      <h2 UsaStepHeader></h2>
    </usa-step-indicator>
  </uswds-card-body>
</div>

<div uswds-card class="tablet:grid-col-11 mobile-lg:grid-col-12">
  <uswds-card-header>
    <h2 class="usa-card__heading">
      Display Counters Small
    </h2>
  </uswds-card-header>
  <uswds-card-body>
    <code class="display-block margin-bottom-2">[displayCounters]="true" and [smallCounters]="true"</code>
    <usa-step-indicator [(currentStep)]="currentStepShowCountersSmall" [steps]="stepsShowCountersSmall"
      [displayCounters]="true" [smallCounters]="true">
      <h2 UsaStepHeader></h2>
    </usa-step-indicator>
  </uswds-card-body>
</div>

<div uswds-card class="tablet:grid-col-11 mobile-lg:grid-col-12">
  <uswds-card-header>
    <h2 class="usa-card__heading">
      Center Labels And Display Counters
    </h2>
  </uswds-card-header>
  <uswds-card-body>
    <code class="display-block margin-bottom-2">[displayCounters]="true", [centerLabels]="true"</code>
    <usa-step-indicator [steps]="centerAndCounterLabels" [(currentStep)]="currentStepCenterAndCounterLabels" [displayCounters]="true" [centerLabels]="true">
    </usa-step-indicator>
  </uswds-card-body>
</div>

<div uswds-card class="tablet:grid-col-11 mobile-lg:grid-col-12">
  <uswds-card-header>
    <h2 class="usa-card__heading">
      Header Position Top
    </h2>
  </uswds-card-header>
  <uswds-card-body>
    <code class="display-block margin-bottom-2">[headerPosition]="'top'"</code>
    <usa-step-indicator [steps]="stepsHeaderTop" [(currentStep)]="currentStepHeaderTop" [headerPosition]="'top'">
      <h2 UsaStepHeader></h2>
    </usa-step-indicator>
  </uswds-card-body>
</div>

<div uswds-card class="tablet:grid-col-11 mobile-lg:grid-col-12">
  <uswds-card-header>
    <h2 class="usa-card__heading">
      Disable Single Step
    </h2>
  </uswds-card-header>
  <uswds-card-body>
    <usa-step-indicator [steps]="stepsDisableSingleStep" [(currentStep)]="currentStepDisableSingle">
      <h2 UsaStepHeader></h2>
    </usa-step-indicator>
  </uswds-card-body>
</div>

<div uswds-card class="tablet:grid-col-11 mobile-lg:grid-col-12">
  <uswds-card-header>
    <h2 class="usa-card__heading">
      Custom Header Template
    </h2>
  </uswds-card-header>
  <uswds-card-body>
    <code class="display-block margin-bottom-2">[template]="TemplateRef" for UsaStepHeader</code>

    <usa-step-indicator [steps]="stepsCustomHeader" [(currentStep)]="currentStepCustomHeader">
      <h2 UsaStepHeader [template]="headerTemplate">
        <ng-template #headerTemplate>
          Custom Header {{stepsCustomHeader[currentStepCustomHeader]?.label}}
        </ng-template>
      </h2>
    </usa-step-indicator>
  </uswds-card-body>
</div>

<div uswds-card class="tablet:grid-col-11 mobile-lg:grid-col-12">
  <uswds-card-header>
    <h2 class="usa-card__heading">
      Disable Step Selection
    </h2>
  </uswds-card-header>
  <uswds-card-body>
    <code class="display-block margin-bottom-2">[disableStepSelection]="true"</code>
    <usa-step-indicator [steps]="stepsDisableSelection" [(currentStep)]="currentStepDisableSelection" [disableStepSelection]="true">
      <h2 UsaStepHeader></h2>
    </usa-step-indicator>

    <ul class="usa-button-group">
      <li class="usa-button-group__item">
        <button class="usa-button usa-button--outline" 
          (click)="currentStepDisableSelection = currentStepDisableSelection - 1;" 
          [disabled]="currentStepDisableSelection === 0">
          Back
        </button>
      </li>
      <li class="usa-button-group__item">
        <button class="usa-button" 
        (click)="currentStepDisableSelection = currentStepDisableSelection + 1" 
        [disabled]="currentStepDisableSelection === stepsDisableSelection.length - 1">
        Next
      </button>
      </li>
    </ul>
    <i>*Development Note: The Back and Next buttons are NOT part of the step indicator and should be implemented separately</i>
  </uswds-card-body>
</div>

<div uswds-card class="tablet:grid-col-11 mobile-lg:grid-col-12">
  <uswds-card-body>
    <h3>General Accessibility</h3>
    <p>
      The top level element of step indicator uses <code>aria-label="progress"</code> to help provide
      context to screen readers
    </p>
    <p>
      The step indicator uses a <code>role="tablist"</code> for the wrapper element of all step segments
      and <code>role="tab"</code> for each segment.
    </p>
    <p>
      The indicator interlly uses an incrementing id to ensure uniqueness between each indicator and segments' id. 
      Users may pass in their own id.
    </p>
    <p>
      The indicator contains additional text for screen readers to indicate completed and current step as users
      select through each segment.
    </p>
  </uswds-card-body>
</div>

<div uswds-card class="tablet:grid-col-11 mobile-lg:grid-col-12">
  <uswds-card-body>
    <h3>Theming</h3>
    <table class="usa-table--borderless" role="presentation">
      <thead>
        <tr>
          <th scope="col" class="text-left" width="50%">Variable</th>
          <th scope="col" class="text-left" width="50%">Description</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td data-title="Variable" width="50%">
            <code>
              $step-indicator-background-color
            </code>
          </td>
          <td data-title="Description" width="50%">
            <span>
              <p>Background color of the component and the gaps around the counters</p>
            </span>
          </td>
        </tr>
        
        <tr>
          <td data-title="Variable" width="50%">
            <code>
              $theme-step-indicator-counter-gap
            </code>
          </td>
          <td data-title="Description" width="50%">
            <span>
              <p>Gap between the counter and the segment</p>
            </span>
          </td>
        </tr>
        
        <tr>
          <td data-title="Variable" width="50%">
            <code>
              $theme-step-indicator-counter-border-width
            </code>
          </td>
          <td data-title="Description" width="50%">
            <span>
              <p>Size of the border around the pending steps</p>
            </span>
          </td>
        </tr>
        
        <tr>
          <td data-title="Variable" width="50%">
            <code>
              $theme-step-indicator-font-family
            </code>
          </td>
          <td data-title="Description" width="50%">
            <span>
              <p>Font family of the labels and counter numbers</p>
            </span>
          </td>
        </tr>
        
        <tr>
          <td data-title="Variable" width="50%">
            <code>
              $theme-step-indicator-heading-font-family
            </code>
          </td>
          <td data-title="Description" width="50%">
            <span>
              <p>Font family of the heading</p>
            </span>
          </td>
        </tr>
        
        <tr>
          <td data-title="Variable" width="50%">
            <code>
              $theme-step-indicator-heading-color
            </code>
          </td>
          <td data-title="Description" width="50%">
            <span>
              <p>Color of the heading</p>
            </span>
          </td>
        </tr>
        
        <tr>
          <td data-title="Variable" width="50%">
            <code>
              $theme-step-indicator-heading-font-size
            </code>
          </td>
          <td data-title="Description" width="50%">
            <span>
              <p>Font size of the heading on screens of <strong>$theme-step-indicator-min-width</strong> and larger</p>
            </span>
          </td>
        </tr>
        
        <tr>
          <td data-title="Variable" width="50%">
            <code>
              $theme-step-indicator-heading-font-size-small
            </code>
          </td>
          <td data-title="Description" width="50%">
            <span>
              <p>Font size of the heading on screens smaller than <strong>$theme-step-indicator-min-width</strong></p>
            </span>
          </td>
        </tr>
        
        <tr>
          <td data-title="Variable" width="50%">
            <code>
              $theme-step-indicator-label-font-size
            </code>
          </td>
          <td data-title="Description" width="50%">
            <span>
              <p>Font size of segment labels</p>
            </span>
          </td>
        </tr>
        
        <tr>
          <td data-title="Variable" width="50%">
            <code>
              $theme-step-indicator-min-width
            </code>
          </td>
          <td data-title="Description" width="50%">
            <span>
              <p>Width at which the component displays large-width features</p>
            </span>
          </td>
        </tr>
        
        <tr>
          <td data-title="Variable" width="50%">
            <code>
              $theme-step-indicator-segment-color-pending
            </code>
          </td>
          <td data-title="Description" width="50%">
            <span>
              <p>Color of pending step segments. Use a grade of 20 more than <strong>$step-indicator-background-color</strong>.</p>
            </span>
          </td>
        </tr>
        
        <tr>
          <td data-title="Variable" width="50%">
            <code>
              $theme-step-indicator-segment-color-complete
            </code>
          </td>
          <td data-title="Description" width="50%">
            <span>
              <p>Color of complete step segments. Use a grade at least 60.</p>
            </span>
          </td>
        </tr>
        
        <tr>
          <td data-title="Variable" width="50%">
            <code>
              $theme-step-indicator-segment-color-current
            </code>
          </td>
          <td data-title="Description" width="50%">
            <span>
              <p>Color of the current step segments. Use a grade at least 20 more than <strong>$theme-step-indicator-segment-color-complete</strong>.</p>
            </span>
          </td>
        </tr>
        
        <tr>
          <td data-title="Variable" width="50%">
            <code>
              $theme-step-indicator-segment-gap
            </code>
          </td>
          <td data-title="Description" width="50%">
            <span>
              <p>Gap between step segments</p>
            </span>
          </td>
        </tr>
        
        <tr>
          <td data-title="Variable" width="50%">
            <code>
              $theme-step-indicator-segment-height
            </code>
          </td>
          <td data-title="Description" width="50%">
            <span>
              <p>Height of the step segment. Note that the mobile segment height is always 1 unit.</p>
            </span>
          </td>
        </tr>
        
        <tr>
          <td data-title="Variable" width="50%">
            <code>
              $theme-step-indicator-text-pending-color
            </code>
          </td>
          <td data-title="Description" width="50%">
            <span>
              <p>The text color of pending steps. Use a gray grade of 60 more than the <strong>$step-indicator-background-color</strong>.</p>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </uswds-card-body>
</div>