<div>
  <input type="checkbox" id="borderless" name="borderless" value="Borderless" class="usa-checkbox__input" checked
    (change)="borderless = $event.target.checked">
  <label for="borderless" class="usa-checkbox__label">Borderless</label>

  <input type="checkbox" id="striped" name="striped" value="Striped" class="usa-checkbox__input" 
    (change)="striped = $event.target.checked">
  <label for="striped" class="usa-checkbox__label">Striped</label>

  <input type="checkbox" id="compact" name="compact" value="Compact" class="usa-checkbox__input" 
    (change)="compact = $event.target.checked">
  <label for="compact" class="usa-checkbox__label">Compact</label>

  <input type="checkbox" id="scrollable" name="scrollable" value="Scrollable" class="usa-checkbox__input" 
    (change)="scrollable = $event.target.checked">
  <label for="scrollable" class="usa-checkbox__label">Scrollable</label>

  <input type="checkbox" id="stacked" name="stacked" value="Stacked" class="usa-checkbox__input" 
    (change)="stacked = $event.target.checked">
  <label for="stacked" class="usa-checkbox__label">Stacked (Mobile View)</label>

  <input type="checkbox" id="stackedHeader" name="stackedHeader" value="Stacked Header" class="usa-checkbox__input" 
    (change)="stackedHeader = $event.target.checked">
  <label for="stackedHeader" class="usa-checkbox__label">Stacked Header (Mobile View)</label>
</div>



<usa-table 
  [displayedData]="displyedData" 
  [borderless]="borderless" 
  [striped]="striped"
  [compact]="compact"
  [scrollable]="scrollable"
  [stacked]="stacked"
  [stackedHeader]="stackedHeader"
>
  <caption>
    Borderless table: A borderless table can be useful when you want the information to feel more a part of the text it accompanies and extends.
  </caption>
  <ng-container usaColumnDef="title">
    <th usa-table-header *usaTableHeaderDef>Document Title</th>
    <td usa-table-data  *usaTableDataDef="let document" data-label="Document Title">{{document.title}}</td>
  </ng-container>
  <ng-container usaColumnDef="description">
    <th usa-table-header *usaTableHeaderDef>Description</th>
    <td usa-table-data  *usaTableDataDef="let document" data-label="Description">{{document.description}}</td>
  </ng-container>
  <ng-container usaColumnDef="year">
    <th usa-table-header *usaTableHeaderDef>Year</th>
    <td usa-table-data  *usaTableDataDef="let document" data-label="Year">{{document.year}}</td>
  </ng-container>

  <tr *usaHeaderRowDef="displayedColumns"></tr>
  <tr *usaDataRowDef="let row; columns: displayedColumns;"></tr>
</usa-table>
