<div class="padding-1 grid-row">
  <div class="tablet:grid-col-2 mobile-lg: grid-col-12 margin-right-2 margin-bottom-2 margin-left-2 site-sidenav">
    <usa-sidenav [sidenavContent]="sidenavModel" (sidenavClicked)="onSidenavClick($event)">
    </usa-sidenav>
  </div>

  <div uswds-card class="tablet:grid-col-9 mobile-lg: grid-col-12">
    <uswds-card-header>
      <h1 class="usa-card__heading">{{selectedItem?.labelText}}</h1>
    </uswds-card-header>
    <uswds-card-body class="padding-1">
      <router-outlet></router-outlet>
    </uswds-card-body>
  </div>
</div>
