<div class="padding-1 grid-row">
  <div class="grid-col-2 margin-right-2 border fit-content">
    <uswds-sidenav [sidenavContent]="sidenavModel" (sidenavClicked)="onSidenavClick($event)">
    </uswds-sidenav>
  </div>

  <div uswds-card class="grid-col-9 padding-left-5 padding-right-5 padding-top-2 padding-bottom-2">
    <uswds-card-header>
      <h1 class="usa-card__heading ">{{selectedItem?.labelText}}</h1>
    </uswds-card-header>
    <uswds-card-body>
      <router-outlet></router-outlet>
    </uswds-card-body>
  </div>
</div>
