<div class="width-mobile-lg">
<div class="sds-card__secondary--border">
  <div class="sds-card__body sds-card__body--accent-cool">
    <dropdown-usa-sidenav 
      [dropdownSidenavContent]="dropdownSidenavContent"
      [expandType]="expandType" 
      [enableLabelCollapse]="enableLabelCollapse" 
      [autoCollapseLabels]="autoCollapseLabels"
      [selectFirstLabelChild]="selectFirstLabelChild"
      (sidenavClicked)="sidenavClicked($event)">
    </dropdown-usa-sidenav>
  </div>
  </div>
</div>