<uswds-accordion [isMultiSelectable]="true" [isBordered]="true">
  <uswds-accordion-item id="acc1">
    <uswds-accordion-header>
      First Amendment
    </uswds-accordion-header>
    <uswds-accordion-content>
      Congress shall make no law respecting an establishment of religion, or prohibiting the free exercise thereof; 
      or abridging the freedom of speech, or of the press; or the right of the people peaceably to assemble, and to 
      petition the Government for a redress of grievances.
    </uswds-accordion-content>
  </uswds-accordion-item>

  <uswds-accordion-item id="acc2">
    <uswds-accordion-header #acc2Header>
      Second Amendment
    </uswds-accordion-header>
    <uswds-accordion-content>
      <p>A well regulated Militia, being necessary to the security of a free State, the right of the people to keep 
        and bear Arms, shall not be infringed.
      </p>
      <ul>
        <li>This is a list item</li>
        <li>Another list item</li>
      </ul>
    </uswds-accordion-content>
  </uswds-accordion-item>

  <uswds-accordion-item id="acc3">
    <uswds-accordion-header>
      Third Amendment
    </uswds-accordion-header>
    <uswds-accordion-content>
      No Soldier shall, in time of peace be quartered in any house, without the consent of the Owner, 
      nor in time of war, but in a manner to be prescribed by law.
    </uswds-accordion-content>
  </uswds-accordion-item>
</uswds-accordion>
