<div uswds-card
  class="grid-col-11 padding-left-5 padding-right-5 padding-top-2 padding-bottom-2">
  <uswds-card-header>
    <h2 class="usa-card__heading">
      Accordion Single Select
    </h2>
  </uswds-card-header>
  <uswds-card-body>
    <code class="display-block margin-bottom-2">[singleSelect]="true"</code>
    <usa-accordion [singleSelect]="true" [headerLevel]="2" activeIds="usa-panel-2">
      <usa-panel header="Simple Text Header">
        <ng-template UsaAccordionContent>
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
          officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 
          wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. 
        </ng-template>
      </usa-panel>

      <usa-panel>
        <ng-template UsaAccordionHeader>
          <b class="text-primary">I am a <i>Template</i> Header</b>
        </ng-template>
        <ng-template UsaAccordionContent>
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
          officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 
          wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
        </ng-template>
      </usa-panel>

      <usa-panel header="Disabled Header" [disabled]="true">
        <ng-template UsaAccordionContent>
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
          officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 
          wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
        </ng-template>
      </usa-panel>

    </usa-accordion>
  </uswds-card-body>
</div>


<div uswds-card
  class="grid-col-11 padding-left-5 padding-right-5 padding-top-2 padding-bottom-2 ">
  <uswds-card-header>
    <h2 class="usa-card__heading">
      Accordion Multi Select and Bordered
    </h2>
  </uswds-card-header>
  <uswds-card-body>
    <code class="display-block margin-bottom-2">[bordered]="true"</code>

    <usa-accordion [headerLevel]="2" bordered="true">

      <usa-panel header="Simple Text Header">
        <ng-template UsaAccordionContent>
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
          officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 
          wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
        </ng-template>
      </usa-panel>

      <usa-panel>
        <ng-template UsaAccordionHeader>
          <b class="text-primary">I am a <i>Template</i> Header</b>
        </ng-template>
        <ng-template UsaAccordionContent>
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
          officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 
          wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
        </ng-template>
      </usa-panel>

      <usa-panel header="Disabled Header" [disabled]="true">
        <ng-template UsaAccordionContent>
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
          officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 
          wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
        </ng-template>
      </usa-panel>
    </usa-accordion>
  </uswds-card-body>
</div>

<div uswds-card
  class="grid-col-11 padding-left-5 padding-right-5 padding-top-2 padding-bottom-2 ">
  <uswds-card-header>
    <h2 class="usa-card__heading">
      Accordion Without Animations
    </h2>
  </uswds-card-header>
  <uswds-card-body>
    <code class="display-block margin-bottom-2">[animation]="false"</code>

    <usa-accordion [headerLevel]="2" [animation]="false">

      <usa-panel header="Simple Text Header">
        <ng-template UsaAccordionContent>
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
          officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 
          wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
        </ng-template>
      </usa-panel>

      <usa-panel>
        <ng-template UsaAccordionHeader>
          <b class="text-primary">I am a <i>Template</i> Header</b>
        </ng-template>
        <ng-template UsaAccordionContent>
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
          officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 
          wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
        </ng-template>
      </usa-panel>

      <usa-panel header="Disabled Header" [disabled]="true">
        <ng-template UsaAccordionContent>
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
          officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 
          wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
        </ng-template>
      </usa-panel>
    </usa-accordion>
  </uswds-card-body>
</div>

<div uswds-card
  class="grid-col-11 padding-left-5 padding-right-5 padding-top-2 padding-bottom-2 ">
  <uswds-card-header>
    <h2 class="usa-card__heading">
      Programatically Open Accordions
    </h2>
  </uswds-card-header>
  <uswds-card-body>
    <usa-accordion [headerLevel]="2" #dynamicAccordion>

      <usa-panel header="Simple Text Header" id="dynamicPanel1">
        <ng-template UsaAccordionContent>
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
          officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 
          wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
        </ng-template>
      </usa-panel>

      <usa-panel id="dynamicPanel2">
        <ng-template UsaAccordionHeader>
          <b class="text-primary">I am a <i>Template</i> Header</b>
        </ng-template>
        <ng-template UsaAccordionContent>
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
          officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 
          wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
        </ng-template>
      </usa-panel>

      <usa-panel header="Disabled Header" id="dynamicPanel3" [disabled]="true">
        <ng-template UsaAccordionContent>
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
          officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 
          wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
        </ng-template>
      </usa-panel>
    </usa-accordion>

    <div class="margin-top-2">
      <button class="usa-button usa-button--outline" (click)="toggleAccordion('dynamicPanel1')">Toggle Panel 1</button>
      <button class="usa-button usa-button--outline" (click)="toggleAccordion('dynamicPanel2')">Toggle Panel 2</button>
      <button class="usa-button usa-button--outline" (click)="toggleAccordion('dynamicPanel3')">Toggle Panel 3</button>
    </div>
  </uswds-card-body>
</div>

<div uswds-card
  class="grid-col-11 padding-left-5 padding-right-5 padding-top-2 padding-bottom-2 ">
  <uswds-card-header>
    <h2 class="usa-card__heading">
      Prevent Panel Toggle
    </h2>
  </uswds-card-header>
  <uswds-card-body>
    <usa-accordion [headerLevel]="2" (panelChange)="beforePanelChange($event)">

      <usa-panel header="Simple Text Header" id="panelToggle1">
        <ng-template UsaAccordionContent>
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
          officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 
          wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
        </ng-template>
      </usa-panel>

      <usa-panel id="panelToggle2" header="Accordion Cannot Be Toggled">
        <ng-template UsaAccordionContent>
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
          officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 
          wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
        </ng-template>
      </usa-panel>

      <usa-panel header="Accordion can be opened, but not closed" id="panelToggle3">
        <ng-template UsaAccordionContent>
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
          officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 
          wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
        </ng-template>
      </usa-panel>
    </usa-accordion>
  </uswds-card-body>
</div>

<div uswds-card
  class="grid-col-11 padding-left-5 padding-right-5 padding-top-2 padding-bottom-2 ">
  <uswds-card-header>
    <h2 class="usa-card__heading">
      Keyboard Accessibility
    </h2>
  </uswds-card-header>
  <uswds-card-body>
    <div class="margin-bottom-2">
      <span class="display-block"><code>Tab / Shift + Tab</code> - Move focus to previous and next focusable item </span>
      <span class="display-block"><code>Up and Down Arrow </code>- Move focus to previous and next accordion item in group</span>
      <span class="display-block"><code>Enter / Space </code>- Open / close accordion</span>
      <span class="display-block"><code>Home </code>- Move focus to first focusable accordion item</span>
      <span class="display-block"><code>End </code>- Move focus to last focusable accordion item </span>
    </div>


    <usa-accordion [headerLevel]="2" bordered="true">
      <usa-panel header="Simple Text Header">
        <ng-template UsaAccordionContent>
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
          officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 
          wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
        </ng-template>
      </usa-panel>

      <usa-panel>
        <ng-template UsaAccordionHeader>
          <b class="text-primary">I am a <i>Template</i> Header</b>
        </ng-template>
        <ng-template UsaAccordionContent>
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
          officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 
          wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
        </ng-template>
      </usa-panel>

      <usa-panel header="Disabled Header" [disabled]="true">
        <ng-template UsaAccordionContent>
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
          officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 
          wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
        </ng-template>
      </usa-panel>

      <usa-panel header="Simple Text Header">
        <ng-template UsaAccordionContent>
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
          officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 
          wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
        </ng-template>
      </usa-panel>

      <usa-panel>
        <ng-template UsaAccordionHeader>
          <b class="text-primary">I am a <i>Template</i> Header</b>
        </ng-template>
        <ng-template UsaAccordionContent>
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
          officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 
          wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
        </ng-template>
      </usa-panel>

      <usa-panel header="Disabled Header" [disabled]="true">
        <ng-template UsaAccordionContent>
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
          officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 
          wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
        </ng-template>
      </usa-panel>
    </usa-accordion>
  </uswds-card-body>
</div>

<div uswds-card class="grid-col-11 ">
  <uswds-card-body>
    <h3>General Accessibility</h3>
    <p>
      Each accordion header uses an element with <code>role="heading"</code>, with default heading level of 4. Users
      may pass in the heading level through <code>[headerLevel]</code> property in <code>usa-accordion</code>. This level
      will be applied to all accordion headers in that accordion group.
    </p>
    <p>
      Each header also uses a button with <code>[aria-expanded]</code> property to indicate whether the panel is expanded or collapsed.
    </p>
    <p>
      The current progress segment is indicated through <code>aria-current="true"</code> attribute.
    </p>
    <p>
      If the header is multi-selectable, then <code>[aria-multiselectable]</code> attribute will be applied.
    </p>
    <p>
      The accordion interlly uses an incrementing id to ensure uniqueness between each accordion header's ids. 
      Users may pass in their own id
    </p>
    <p>
      The accordion uses <code>display: none</code> style to hide collapsed accordions
    </p>
  </uswds-card-body>
</div>

<div uswds-card class="grid-col-11 ">
  <uswds-card-body>
    <h3>Theming</h3>
    <code class="display-block">$theme-accordion-border-width</code>
    <code class="display-block">$theme-accordion-border-color</code>
    <code class="display-block">$theme-accordion-font-family</code>
  </uswds-card-body>
</div>
