<label class="usa-label" for="basicInput">Text Area label</label>
<usa-textarea [rowHeight]="6" [maxLength]="100" id="basicInput" (onBlur)="updateValue($event)"></usa-textarea>


<p>{{value}}</p>

<label class="usa-label" for="textareaCharacterCount">Textarea with Character Counter</label>
<usa-textarea [rowHeight]="6" [maxLength]="100" id="textareaCharacterCount" [characterCount]="50"></usa-textarea>

<label class="usa-label" for="textareaModel">Textarea with ngModel</label>
<usa-textarea [rowHeight]="6" [maxLength]="100" id="textareaModel" [(ngModel)]="textareaModel"></usa-textarea>

{{textareaModel}}
