<ng-template #content let-modal>
  <h2 class="usa-modal__heading" id="modal-3-heading">
    Are you sure you want to continue?
  </h2>
  <div class="usa-prose">
    <p id="modal-3-description">You have unsaved changes that will be lost.</p>
  </div>
  <div class="usa-modal__footer">
    <ul class="usa-button-group">
      <li class="usa-button-group__item">
          <button type="button" class="usa-button" (click)="close('Continue')">Continue without saving</button>
      </li>
      <li class="usa-button-group__item">
        <button type="button" class="usa-button usa-button--unstyled padding-105 text-center" (click)="close('Go Back')">Go back</button>
      </li>
    </ul>
  </div>
</ng-template>
<button class="usa-button" (click)="open(content)">Launch Default modal</button>
<hr>
<pre>{{ closeResult }}</pre>