<usa-radio-group name="historical-figures" (change)="onRadioChange($event)" [ariaLabelledBy]="'historicalFigures1Label'">
  <h4 id="historicalFigures1Label" usaRadioGroupLabel>Historical Figures</h4>
  <usa-radio [id]="'historical-truth'" value="sojourner-truth" [checked]="true">Sojourner Truth</usa-radio>
  <usa-radio [id]="'historical-douglass'" value="frederick-douglass">Frederick Douglass</usa-radio>
  <usa-radio [id]="'historical-washington'" value="booker-t-washington" >Booker T. Washington</usa-radio>
  <usa-radio [disabled]="true" [id]="'historical-carver'" value="george-washington-carver">George Washington Carver</usa-radio>
</usa-radio-group>

<div class="margin-top-2">
  Selected Value: <code>{{selectedValue}}</code>
</div>

<legend class="usa-legend margin-top-5">Select one historical figure</legend>
<usa-radio-group name="historical-figures-2" (change)="onRadioChangeTile($event)" [tile]="true">
  <usa-radio [id]="'historical-truth-2'" value="sojourner-truth" [checked]="true">
    Sojourner Truth
    <span usaRadioDescription>
      This is optional text that can be used to describe the label in more detail.
    </span>
  </usa-radio>
  <usa-radio [id]="'historical-douglass-2'" value="frederick-douglass">Frederick Douglass</usa-radio>
  <usa-radio [id]="'historical-washington-2'" value="booker-t-washington" >Booker T. Washington</usa-radio>
  <usa-radio [disabled]="true" [id]="'historical-carver-2'" value="george-washington-carver">George Washington Carver</usa-radio>
</usa-radio-group>

<div class="margin-top-2">
  Selected Value: <code>{{selectedValueTile}}</code>
</div>
