<uswds-button>
  Default Button
</uswds-button>

<div class="margin-2"></div>

<uswds-button [secondary]="true">
  Secondary Button
</uswds-button>

<div class="margin-2"></div>

<uswds-button [accentCool]="true">
  Accent Cool Button
</uswds-button>

<div class="margin-2"></div>

<uswds-button [accentWarm]="true">
  Accent Warm Button
</uswds-button>

<div class="margin-2"></div>

<uswds-button [base]="true">
  Base Button
</uswds-button>

<div class="margin-2"></div>

<uswds-button [outline]="true">
  Outline Button
</uswds-button>

<div class="margin-2"></div>

<div class="bg-base-darkest padding-1" style="max-width: fit-content">
  <uswds-button [outline]="true" [inverse]="true">
    Outline Inverse Button
  </uswds-button>
</div>


<div class="margin-2"></div>

<uswds-button [big]="true">
  Big Button
</uswds-button>