<label for="fileInputRemoveId" class="usa-label">Multiple File Input</label>
<usa-file-input
  #fileInput
  [id]="'fileInputRemoveId'" 
  [multiple]="true" 
  [clearFilesOnAdd]="false"
  (selectedFilesChange)="onFilesChange($event)"
>
</usa-file-input>


<usa-table
  *ngIf="files.length"
  [displayedData]="files">
  <caption>
    Uploaded Files
  </caption>
  <ng-container usaColumnDef="name">
    <th usa-table-header *usaTableHeaderDef>File Name</th>
    <td usa-table-data  *usaTableDataDef="let file" data-label="File Name">{{file.name}}</td>
  </ng-container>
  <ng-container usaColumnDef="size">
    <th usa-table-header *usaTableHeaderDef>File Size</th>
    <td usa-table-data  *usaTableDataDef="let file" data-label="File Size">{{file.size}} bytes</td>
  </ng-container>
  <ng-container usaColumnDef="type">
    <th usa-table-header *usaTableHeaderDef>File Type</th>
    <td usa-table-data  *usaTableDataDef="let file" data-label="File Type">{{file.type}}</td>
  </ng-container>
  <ng-container usaColumnDef="action">
    <th usa-table-header *usaTableHeaderDef>Actions</th>
    <td usa-table-data  *usaTableDataDef="let file" data-label="Actions">
      <button class="usa-button usa-button--secondary" (click)="removeFile(file)">Remove</button>
    </td>
  </ng-container>

  <tr *usaHeaderRowDef="displayedColumns"></tr>
  <tr *usaDataRowDef="let row; columns: displayedColumns;"></tr>
</usa-table>

<button *ngIf="files.length > 1" class="usa-button usa-button--secondary margin-top-1" (click)="removeAllFiles()">
  Remove All Files
</button>
