<label for="fileInputMultipleId" class="usa-label">Multiple File Input</label>
<usa-file-input #fileInput
  [id]="'fileInputMultipleId'" 
  [multiple]="true" 
  [clearFilesOnAdd]="clearFilesOnAdd">
</usa-file-input>


<button class="usa-button margin-top-2" (click)="clearFilesOnAdd = !clearFilesOnAdd">Toggle File Upload Behavior</button>
<button class="usa-button margin-top-2" (click)="removeAllFiles()">Remove All Files</button>

<p>
  <code class="display-block">[clearFilesOnAdd]="{{clearFilesOnAdd}}"</code>
  <span *ngIf="clearFilesOnAdd; else hidden">Existing list of uploaded files will be cleared on adding new files</span>
  <ng-template #hidden>
    New files will be appended to pre-existing list of files
  </ng-template>
</p>
<p>
  Note: Default behavior in USWDS is to clear any uploaded files when new files are added. When using the config
  to append new files, we leave it up to the application to build the user interface for removing files, but do provide
  two functions - <code>clearFiles()</code> to remove all files and <code>removeFile(File)</code> to remove a single file
  in the file input component that users may call
</p>
