<usa-header [title]="headerTitle" [extended]="true">
  <ng-template #headerTitle><span class="usa-logo__text">Ngx USWDS</span></ng-template>

  <!-- Define custom template for primary links-->
  <ul usaHeaderPrimaryLinks class="usa-nav__primary usa-accordion">
    <li class="usa-nav__primary-item"><a href="javascript:void(0)" class="usa-current">Home</a></li>
    <li class="usa-nav__primary-item"><a href="javascript:void(0)">Search</a></li>
    <li class="usa-nav__primary-item"><a href="javascript:void(0)">Data Bank</a></li>
  </ul>

  <!-- Define custom template for secondary links-->
  <ul usaHeaderSecondaryLinks>
    <li class="usa-nav__secondary-item">
      <a href="javascript:void(0)">Secondary Link</a>
    </li>
    <li class="usa-nav__secondary-item">
      <a href="javascript:void(0)">Another Secondary Link</a>
    </li>
  </ul>

  <!-- Add extra content after the secondary links -->
  <usa-search usaHeaderSecondaryExtra [size]="'small'"></usa-search>
  
</usa-header>
