<!-- Default -->
<h3>Default</h3>
<usa-search [searchSettings]="searchSettings" [(ngModel)]="defaultModel"></usa-search>

<div>Default Search Value: {{defaultModel}}</div>

<!-- Big Variant-->
<h3>Big Variant</h3>
<usa-search [searchSettings]="bigSearchSettings" [(ngModel)]="bigModel"></usa-search>

<div>Default Search Value: {{defaultModel}}</div>

<!-- Small Variant -->
<h3>Small Variant</h3>
<usa-search [searchSettings]="smallSearchSettings" [(ngModel)]="smallModel"></usa-search>

<div>Default Search Value: {{defaultModel}}</div>

<!-- Spanish Default -->
<h3>Spanish Variant</h3>
<usa-search [searchSettings]="spanishSearchSettings" [(ngModel)]="spanishModel"></usa-search>


<!-- Spanish Big Variant -->
<h3>Spanish Big Variant</h3>
<usa-search [searchSettings]="spanishBigSearchSettings"></usa-search>

<!-- Spanish small variant -->
<h3>Spanish Variant</h3>
<usa-search [searchSettings]="spanishSmallSearchSettings"></usa-search>
