<ng-template #content let-modal>
  <h2 class="usa-modal__heading" id="modal-1-heading">
    Are you sure you want to continue?
    <button type="button" class="usa-button--outline" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </h2>
  <div class="usa-prose">
    <p id="modal-1-description">You have unsaved changes that will be lost.</p>
  </div>
  <div class="usa-modal__footer">
    <button type="button" class="usa-button usa-button--outline" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>

<button class="usa-button" (click)="open(content)">Launch demo modal</button>

<hr>

<pre>{{ closeResult }}</pre>