<usa-table *ngIf="displayedData"
  [displayedData]="displayedData" 
  [borderless]="borderless" 
  [striped]="striped"
  [compact]="compact"
  [scrollable]="scrollable"
  [stacked]="stacked"
  [stackedHeader]="stackedHeader"
  [highlightRowOnHover]="highlightRowOnHover"
  (rowClicked)="rowClicked($event)"
>
  <caption>
    Borderless table: A borderless table can be useful when you want the information to feel more a part of the text it accompanies and extends.
  </caption>
  <ng-container usaColumnDef="title">
    <th usa-table-header *usaTableHeaderDef>Document Title</th>
    <td usa-table-data  *usaTableDataDef="let document" data-label="Document Title">{{document.title}}</td>
  </ng-container>
  <ng-container usaColumnDef="description">
    <th usa-table-header *usaTableHeaderDef>Description</th>
    <td usa-table-data  *usaTableDataDef="let document" data-label="Description">{{document.description}}</td>
  </ng-container>
  <ng-container usaColumnDef="year">
    <th usa-table-header *usaTableHeaderDef>Year</th>
    <td usa-table-data  *usaTableDataDef="let document" data-label="Year">{{document.year}}</td>
  </ng-container>

  <tr *usaHeaderRowDef="displayedColumns"></tr>
  <tr *usaDataRowDef="let row; columns: displayedColumns;"></tr>
</usa-table>
