<!-- Default -->
<h3>Default</h3>
<usa-search [searchSettings]="searchSettings"></usa-search>

<!-- Big Variant-->
<h3>Big Variant</h3>
<usa-search [searchSettings]="bigSearchSettings"></usa-search>

<!-- Small Variant -->
<h3>Small Variant</h3>
<usa-search [searchSettings]="smallSearchSettings"></usa-search>

<!-- Spanish Default -->
<h3>Spanish Variant</h3>
<usa-search [searchSettings]="spanishSearchSettings"></usa-search>

<!-- Spanish Big Variant -->
<h3>Spanish Big Variant</h3>
<usa-search [searchSettings]="spanishBigSearchSettings"></usa-search>

<!-- Spanish small variant -->
<h3>Spanish Variant</h3>
<usa-search [searchSettings]="spanishSmallSearchSettings"></usa-search>
