/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS 2.2.0
----------------------------------------
COLOR SETTINGS
----------------------------------------
Read more about settings and
USWDS color tokens in the documentation:
https://v2.designsystem.digital.gov/style-tokens/color
----------------------------------------
*/

/*
----------------------------------------
Theme palette colors
----------------------------------------
*/

// Base colors
$theme-color-base-family  : 'gray-warm';
$theme-color-base-lightest: 'gray-warm-2';
$theme-color-base-lighter : 'gray-warm-4';
$theme-color-base-light   : 'gray-warm-20';
$theme-color-base         : 'gray-warm-50';
$theme-color-base-dark    : 'gray-warm-70';
$theme-color-base-darker  : 'gray-warm-70';
$theme-color-base-darkest : 'gray-warm-80';
$theme-color-base-ink     : 'gray-warm-80';

// primary colors
$theme-color-primary-family  : 'green-cool-vivid';
$theme-color-primary-lightest: false;
$theme-color-primary-lighter : 'green-cool-5v';
$theme-color-primary-light   : 'green-cool-10v';
$theme-color-primary         : 'green-cool-20v';
$theme-color-primary-vivid   : 'green-cool-30v';
$theme-color-primary-dark    : 'green-cool-40v';
$theme-color-primary-darker  : 'green-cool-50v';
$theme-color-primary-darkest : false;

// Secondary colors
$theme-color-secondary-family  : 'blue-warm-vivid';
$theme-color-secondary-lightest: false;
$theme-color-secondary-lighter : 'blue-warm-30v';
$theme-color-secondary-light   : 'blue-warm-40v';
$theme-color-secondary         : 'blue-warm-50v';
$theme-color-secondary-vivid   : 'blue-warm-60v';
$theme-color-secondary-dark    : 'blue-warm-70v';
$theme-color-secondary-darker  : 'blue-warm-80v';
$theme-color-secondary-darkest : false;

// Accent warm colors
$theme-color-accent-warm-family  : 'gold';
$theme-color-accent-warm-lightest: false;
$theme-color-accent-warm-lighter : 'gold-5';
$theme-color-accent-warm-light   : 'gold-10';
$theme-color-accent-warm         : 'gold-20';
$theme-color-accent-warm-dark    : 'gold-30';
$theme-color-accent-warm-darker  : 'gold-40';
$theme-color-accent-warm-darkest : false;

// Accent cool colors
$theme-color-accent-cool-family  : 'blue';
$theme-color-accent-cool-lightest: false;
$theme-color-accent-cool-lighter : 'blue-5';
$theme-color-accent-cool-light   : 'blue-10';
$theme-color-accent-cool         : 'blue-20';
$theme-color-accent-cool-dark    : 'blue-30';
$theme-color-accent-cool-darker  : 'blue-40';
$theme-color-accent-cool-darkest : false;

/*
----------------------------------------
State palette colors
----------------------------------------
*/

// Error colors
$theme-color-error-family : 'red-vivid';
$theme-color-error-lighter: 'red-20v';
$theme-color-error-light  : 'red-30v';
$theme-color-error        : 'red-40v';
$theme-color-error-dark   : 'red-60v';
$theme-color-error-darker : 'red-70v';

/*
----------------------------------------
General colors
----------------------------------------
*/

// Links
$theme-link-color        : 'indigo-cool-60';
$theme-link-visited-color: $theme-link-color;
$theme-link-hover-color  : 'yellow-50';
$theme-link-active-color : 'indigo-cool-70';
