/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS 2.2.0
----------------------------------------
GENERAL SETTINGS
----------------------------------------
Read more about settings and
USWDS style tokens in the documentation:
https://v2.designsystem.digital.gov/style-tokens
----------------------------------------
*/
@mixin adjust-responsive-site-margins {
    margin-left: -(units($theme-site-margins-mobile-width));
    margin-right: -(units($theme-site-margins-mobile-width));
    padding-left: (units($theme-site-margins-mobile-width));
    padding-right: (units($theme-site-margins-mobile-width));
    @include at-media($theme-site-margins-breakpoint) {
        margin-left: -(units($theme-site-margins-width));
        margin-right: -(units($theme-site-margins-width));
        padding-left: (units($theme-site-margins-width));
        padding-right: (units($theme-site-margins-width));
    }
  }
$button-shadow:0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2);