<code class="display-block margin-bottom-2">[animation]="false"</code>

<usa-accordion [headerLevel]="2" [animation]="false">

  <usa-accordion-item header="Simple Text Header">
    <ng-template UsaAccordionContent>
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry 
      richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor 
      brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, 
      sunt aliqua put a bird on it squid single-origin coffee nulla assumenda 
      shoreditch et.
    </ng-template>
  </usa-accordion-item>

  <usa-accordion-item>
    <ng-template UsaAccordionHeader>
      <b class="text-primary-darker">I am a <i>Template</i> Header</b>
    </ng-template>
    <ng-template UsaAccordionContent>
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry 
      richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor 
      brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, 
      sunt aliqua put a bird on it squid single-origin coffee nulla assumenda 
      shoreditch et.
    </ng-template>
  </usa-accordion-item>

  <usa-accordion-item header="Disabled Header" [disabled]="true">
    <ng-template UsaAccordionContent>
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry 
      richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor 
      brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, 
      sunt aliqua put a bird on it squid single-origin coffee nulla assumenda 
      shoreditch et.
    </ng-template>
  </usa-accordion-item>
</usa-accordion>