<h2>Ngx USWDS Formly</h2>
Follow these steps to get started with USWDS Formly.

<p>1.Install Formly packages:</p>
<div>
  npm install @ngx-formly/core<br />
  npm install @gsa-sam/uswds-formly
</div>
<p>Once installed, `FormlyModule` and `UsaFormlyModule` will be imported in the Module:</p>

There are different formly types available for the uswds-formly, please click on the side navigation for each formly
types
more.
<ul>
   <li>
    Checkbox
  </li>
  <li>
    Input
  </li>
  <li>
    Search
  </li>
  <li>
    Radio button
  </li>
</ul>
<p>For more implementation and configuration visit <a href="https://formly.dev/guide/getting-started">Ngx-formly</a></p>

<p>For more details of Template options and Properties <a href="https://formly.dev/guide/properties-options"
    target="_blank">Click here</a></p>
